<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LeaveManagement</display-name>
  <welcome-file-list>
    <welcome-file>LoginPage.html</welcome-file>
  </welcome-file-list>
   <servlet>
    <description></description>
    <display-name>AddAdminEmployee</display-name>
    <servlet-name>AddAdminEmployee</servlet-name>
    <servlet-class>com.Home.adminModule.AddAdminEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminEmployee</servlet-name>
    <url-pattern>/AddAdminEmployee</url-pattern>
  </servlet-mapping>
  <login-config>
  <auth-method>FORM</auth-method>
  <form-login-config>
  <form-login-page>/LoginPage.html</form-login-page>
  <form-error-page>/ErrorInLogin.html</form-error-page>
  </form-login-config>
  </login-config>
</web-app>